/* General */

html {
    scroll-behavior: smooth;
}

.bold-text {
    font-weight: bold;
}

body {
    background-image: url('/assets/images/logos/concert.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Fjalla One", monospace;
    color: #FFF;
}

.no-scroll body {
    overflow: hidden;
}

body::-webkit-scrollbar {
	width: 0.5em;
	background: #242421;
}

body::-webkit-scrollbar-thumb {
	background: #111111;
	border-radius: 50px;
	transition: all 0.5s ease;
}

body::-webkit-scrollbar-thumb:hover {
	background: rgb(150, 150, 150);
}	

body::-webkit-scrollbar-thumb:active {
	background-color: rgb(175, 0, 0);
}

#top {
    height: 3em;
}

/* Navbar */

#soad-logo {
    width: 3.5em;
    float: left;
    position: absolute;
}

#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 3.5em;
    background-color: #242421;
    box-shadow: 0 1px 10px 0 #000;
    transition: 0.3s all ease;
    z-index: 1;
}

.nav-link {
    text-decoration: none;
    color: #FFF;
    font-family: "Staatliches", monospace;
    transition: 0.3s all ease;
}

.nav-link:hover {
    color: #F00;
}


#links-container {
    width: 60%;
    float: right;
}

#nav-list {
    display: flex;
    justify-content: space-evenly;
}

#nav-list li {
    display: inline;
    transition: 0.3s all ease;
}

#nav-list li:hover {
    transform: scale(1.5);
}

img {
    width: 100%;
}

#check {
    display: none;
}

@media (max-width: 800px) {
    #links-container {
        transition: 0.3s all ease;
        margin: auto;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: #242421;
        display: flex;
        right: -100vw;
        z-index: -1;
    }
    
   #nav-list {
        height: 100vh;
        flex-direction: column;
        margin: auto;
   }

   #label {
        position: absolute;
        right: 1em;
        top: 1em;
        height: 1.5em;
        width: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
   }

    #up {
        height: 3px;
        background-color: #FFF;
        border-radius: 10px;
        width: 25px;
        transition: 0.3s all ease;
    }

    #middle {
        height: 3px;
        background-color: #FFF;
        border-radius: 10px;
        width: 25px; 
        transition: 0.3s all ease;
    }

    #down {
        height: 3px;
        background-color: #FFF;
        border-radius: 10px;
        width: 25px;
        transition: 0.3s all ease;
    }

    .toggle #middle{
        opacity: 0;
    }

    .toggle #up {
        transform: rotate(45deg) translate( 0.1em,0.6em);
    }

    .toggle #down {
        transform: rotate(-45deg) translate( 0.1em,-0.6em);
    }
}

/* About soad */

#title, #subtitle {
    display: flex;
    justify-content: center;
}

#title {
    font-family: "Staatliches", monospace;
    font-size: 50px;
    text-shadow: 1px 1px 10px #000;
}

.box-title {
    font-family: "Staatliches", monospace;
} 

#about {
    display: grid;
    grid-template-areas: 
        "image sidetext"
        "image sidetext"
    ;
    width: 95%;
    height: auto;
    margin: auto;
    background-color: #242421;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000;
}

#img-div {
    margin-top: 2em;
    grid-area: image;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

#side-text {
    grid-area: sidetext;
    padding: 2em;
}

@media (max-width: 800px){
    #about {
        grid-template-areas: 
            "image image"
            "sidetext sidetext"
        ;
    }
}

@media (max-width: 400px){
    #title {
        font-size: xx-large;
    }
}


/* History */

#history {
    margin: 2em auto;
    padding: 0.5em 1em;
}

#history-list {
    list-style-type: none;
}

#history-list li {
    background-color: #242421;
    padding: 1.5em;
    border-radius: 10px;
    margin-top: 1em;
    box-shadow: 0 0 10px 0 #000;
}

/* Members */

#members {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#members-container {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    column-gap: 5%;
}

.member-img {
    transition: 0.3s all ease;
    background-color: #242421;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000;
    border: 3px solid #242421;
}

.member-img:hover {
    transform: scale(1.1);
}

.member-img img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.member-img figcaption {
    padding: 0.2em;
    text-align: center;
}

@media (max-width: 800px) {
    #members-container {
        grid-template-columns: repeat(2, 40vw);
        grid-template-rows: repeat(2, auto);
        gap: 10px;
        justify-items: center;
    }
}